body{
    color: black;
    font-size: large;    
}


.card {
    float: left;
    width: 33.33%;
    padding: 5px;
  }



  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  