<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>ADD SQUAD PROJECTS</title>
  </head>
  <body>
  <link rel='stylesheet'  href="{% static 'CSS\master.css' %}">
  <!--NAV BAR--       <nav class="navbar navbar-dark bg-dark">     -->
 <nav class="navbar fixed-top navbar-expand-sm bg-light">
<nav class="navbar fixed-top navbar-expand-lg navbar-warning bg-light">
<!--
<div class="card" style="width: 200px;">
      <img style="width: 200px;" src="{% static 'images/logo.png' %}" class="img" alt="not found">
  </div>
-->
<div style="width: 200px;">
      <img style="width: 200px;" src="{% static 'images/logo.png' %}" class="img" alt="not found">
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color: #ff4500" href="/basic"><span class="material-icons">home</span>HOME<!--<span class="sr-only">(current)</span>--></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/newspost"><span class="material-icons">article</span>TECH BYTES</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/achievements"><span class="material-icons">emoji_events</span>ACHIEVEMENTS</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/project"><span class="material-icons">star</span>PROJECTS</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/events"><span class="material-icons">school</span>EVENTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tmembers"><span class="material-icons">engineering</span>TOP SQUAD MEMBERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news"><span class="material-icons">text_snippet</span>NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/comment"><span class="material-icons">message</span>REVIEW</a>
      </li>
      {% if user.is_authenticated %}
      <div style="border-radius:50%" class="btn-group">
     <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{request.user.username}}
     </button>
      <div class="dropdown-menu">
               <a class="dropdown-item" href="/viewprofile">EDIT PROFILE</a>
              <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="/dispprofile">VIEW PROFILE</a>
              </div>
                
        <li class="nav-item">
        <a class="nav-link" href="/logout"><span class="material-icons">lock_open</span>LOGOUT</a>
      </li>
      {% else %}
     &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

      </li>
       <li class="nav-item">
        <a class="nav-link" href="/login"><span class="material-icons">login</span>SIGNUP</a>
      </li>
      {% endif %}
</div>
    </ul>
    <span class="navbar-text">
     <!--text here-->
    </span>
  </div>
</nav>
</nav>

<br><br><br><br>
<h1 style="text-align: center;"><b>UPLOAD PROJECTS</b></h1><br>
{% if request.user.is_superuser %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   {{ form.as_p }}
  <button type="submit">Upload</button>
</form>
{% else %}
	<p>LOGIN PANNUDA DEI</p>
{% endif %}
{% if img_obj %}
  <h3>Succesfully uploaded</h3>
{% endif %}
<nav class="navbar fixed-bottom navbar-expand-sm bg-light">
<nav class="navbar fixed-bottom navbar-expand-lg navbar-warning bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  style="color: #FF0000" href="/basic"><span class="material-icons">home</span>HOME</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/members"><span class="material-icons">emoji_people</span>MEMBERS</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/pybot"><span class="material-icons">location_searching</span>SQUAD SEARCH</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/aboutus"><span class="material-icons">mail</span>ABOUT US</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/contactus"><span class="material-icons">phonelink_ring</span>CONTACT US</a>
      </li>
      {% if request.user.is_superuser %} 
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      
      {% else %}
      {% endif %}
    </ul>
    <span class="navbar-text">
     <!--text here-->
    </span>
  </div>
</nav>
</nav>

  
    

</html>